# Folders that are created by this.
bin/
instances/
pyinstaller/
cxfreeze/
# Files that are created by this.
log.txt
settings.toml
# Misc files/folders (cache, metadata).
__pycache__/
.DS_Store/
.idea/
*venv*/
